* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #282c34;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#historia-container {
    max-width: 600px;
    background: #34495e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #e67e22;
}

input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #e67e22;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #d35400;
}

#texto-historia {
    margin-top: 20px;
    font-size: 1.2em;
}


#volver-a-jugar-btn {
    display: block;            /* Hacer que el botón sea un bloque */
    margin: 20px auto;       /* Centrando el botón horizontalmente */
    padding: 10px 20px;      /* Espaciado interno para un tamaño adecuado */
    font-size: 16px;         /* Tamaño de fuente */
    background-color: #007bff; /* Color de fondo */
    color: white;            /* Color del texto */
    border: none;            /* Sin borde */
    border-radius: 5px;     /* Bordes redondeados */
    cursor: pointer;         /* Cambiar el cursor al pasar sobre el botón */
    text-align: center;      /* Alinear el texto al centro */
}

/* Añadir un efecto al pasar el mouse sobre el botón */
#volver-a-jugar-btn:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}
